/* list */
.emptyText {
	height:200px;  
    display:-webkit-box;
    -webkit-box-orient: horizontal;        
    -webkit-box-align:center;
    -webkit-box-pack:center;    
	color: #999;
	text-align: center;
}

.x-list-item:last-child {
	font-weight: bold;
}

/* action sheet */

.x-sheet {
	padding: 1.1em;
}

.x-sheet .x-sheet-body .x-button {
	padding-top: 0.4em;
	padding-bottom: 0.5em;
	border-width: 2px;
}

.x-sheet .x-sheet-body .x-button:last-child {
	margin-top: 1.2em;
}


/* game form */

.score {
	width: 25%;
	float: left;
	text-align: center;
}

.game-type-buttons, .win-lose-buttons {
	margin-bottom: 10px;
}

.game-type-buttons  .x-button {
	width: 33.333%;
}

.win-lose-buttons .x-button {
	width: 50%;
}

.game-data-list  .x-panel-body {
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}


.checkboxfield {
	width: 70%;
}

.checkboxfield .x-input-checkbox {
	
}

.numberfield {
	width: 30%;
	padding-left: 20px;
}

.numberfield-disabled input {
	color: #000;
	background-color: #FFF;
}

.score-panel {
	margin-top: 10px;
}
